.logo
{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 6px;
    font-weight: bold;
}
.logotip {
    justify-content:center;
    align-items: center;
    display: flex;
    gap: 16px;
}

.body{
    background-color: rgba(255, 198, 163, 1);
}

.navigation{
    gap: 39px;
    display: flex;
}

.hat {
    
    align-items: center;
    display: flex;
    gap: 114px;
    text-align: center;
    justify-self: center;
}

.cart-container {
    display: flex;
    gap: 10px;    
    align-items: baseline;
}

.cart {
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart img {
    width: 50%;
    height: 50%;
    filter: invert(1);
}
.cart-info { 
    align-items: center;
    gap: 5px;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 7px solid transparent; 
    border-right: 7px solid transparent;
    border-top: 7px solid black;
}

.price {
    font-size: 16px;
    color: black;
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
}
.head{
    width: 100%;
    height: 50px;
    background-color: black;
    margin-top: 15px;
    display: flex;
    align-items: center;

}

.heading{
    font-family: "Montserrat";
    font-size: 30px;
    font-weight:lighter;
    color: white;
    margin-left: 10px;
    letter-spacing: 2px;
}

.link {
    text-decoration: none;
    color: black;
}

.buttons-data-order {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    gap: 40px;
}

.data-order {
    font-family: "Montserrat";
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
    width: 200px;
    height: 50px;
    background-color: black ;
    border: none;
}


.data-order:active {
    background-color: rgba(255, 98, 0, 1);
}

.order {
    font-family: "Montserrat";
    font-size: 20px;
    display: flex;
    width: 1300px;
    height: 55px;
    justify-content: space-between;
    background-color: white;
    align-items: center ;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
}

.order-chek {
    align-items: center;
    display: flex;
    width: 90px;
    height: 35px;
    background-color: black;
    font-family: "Montserrat";
    color: white;
    font-size: 15px;
    justify-content: center ;
    border: none;
}

.order-chek:active {
    background-color: rgba(255, 98, 0, 1);
}

.buttons-order-chek {
    display: flex;
    align-items: center;
    gap: 20px;
}

.orders {
    gap:40px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 40px;
}